@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
	font-family: Roboto, sans-serif;
	background: url(../img/fondos-paisajes-12.webp) 50% /cover no-repeat;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

[class*="__container"] {
	margin: 0px auto;
	max-width: 800px;
}

.main__car {
	padding-top: 100px;
	position: relative;
	animation-name: car;
	animation-duration: 13s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-direction: alternate-reverse;
}

@keyframes car {
	0% {
		transform: translate(1000px, 0px);
	}

	100% {
		transform: translate(-1000px, 0px);
	}
}

.car__left {
	display: block;
	width: 350px;
	height: 500px;
	background-color: cornflowerblue;
	border: 1px solid #000;
	border-radius: 5% 20% 0% 0%;
	transform: skew(4deg, 0deg);
	perspective-origin: center;
	perspective: 400px;
	overflow: hidden;
}

.left-car__window {
	display: block;
	width: 94px;
	height: 185px;
	background: linear-gradient(8deg, #fff1eb, #ace0f9);
	border: 1px solid #0f2855;
	border-radius: 20% 20% 20% 20%;
	position: relative;
	top: 28px;
	left: 10px;
	transform: rotateY(-2deg);
}

.left-car__window-2 {
	display: block;
	width: 124px;
	height: 188px;
	background: linear-gradient(8deg, #fff1eb, #ace0f9);
	border: 1px solid #0f2855;
	border-radius: 20% 20% 20% 20%;
	position: relative;
	top: -162px;
	left: 112px;
}

.left-car__window-3 {
	display: block;
	width: 97px;
	height: 180px;
	background: linear-gradient(45deg, #fff1eb, #ace0f9);
	border: 1px solid rgb(15, 40, 85);
	border-radius: 20%;
	position: relative;
	top: -344px;
	left: 243px;
	transform: rotateY(16deg) skew(2deg, 0deg);
}

.left-car__door {
	display: block;
	width: 136px;
	height: 256px;
	border: 3px solid #0f2855;
	border-radius: 20% 20% 0% 0%;
	border-bottom: none;
	position: absolute;
	top: 14px;
	left: 106px;
}

.left-car__door-2 {
	display: block;
	width: 79px;
	height: 303px;
	border: 3px solid #0f2855;
	border-radius: 0% 0% 10% 0%;
	border-top: none;
	border-left: none;
	position: absolute;
	top: 70px;
	left: 163px;
}

.left-car__door-3 {
	display: block;
	width: 184px;
	height: 118px;
	border-radius: 0% 0% 0% 0%;
	border-left: 3px solid #0f2855;
	position: absolute;
	top: 218px;
	left: 123px;
	transform: rotate(-29deg);
}

.left-car__door-4 {
	width: 36px;
	height: 54px;
	position: absolute;
	top: 224px;
	right: 227px;
	background-color: transparent;
	border-bottom: 5px solid #0f2855;
	border-radius: 10px;
	transform: rotate(-88deg);
}

.left-car__strip {
	width: 75px;
	height: 15px;
	position: absolute;
	top: 414px;
	right: 106px;
	background-color: #4278db;
	border-bottom: 10px solid #0f2855;
	border-radius: 0 0 17px 17px;
}

.left-car__strip-2 {
	width: 75px;
	height: 15px;
	position: absolute;
	top: 455px;
	right: 106px;
	background-color: #4278db;
	border-bottom: 10px solid #0f2855;
	border-radius: 0 0 17px 17px;
}

.left-car__strip-3 {
	width: 107px;
	height: 360px;
	position: absolute;
	top: 12px;
	right: 3px;
	background-color: #4278db;
	z-index: -1;
}

.left-car__bg {
	display: block;
	width: 253px;
	height: 14px;
	background-color: #ace0f9;
	border-radius: 18px 0px 0px 0px;
	position: absolute;
	top: 0px;
	right: 92px;
}

.left-car__bg-right {
	top: -8px;
	right: -4px;
	border-radius: 0px 81px 8px 0px;
	width: 102px;
	height: 30px;
	transform: rotateY(16deg);
}

.car__right {
	display: block;
	width: 400px;
	height: 300px;
	background-color: cornflowerblue;
	border: 1px solid #000;
	border-top: 28px solid #ace0f9;
	border-radius: 10% 44% 36% 10%;
	position: absolute;
	top: 294px;
	right: 100px;
	transform: skew(-1deg, -3deg);
	perspective-origin: center;
	perspective: 400px;
}

.wheel-car__big {
	display: block;
	width: 290px;
	height: 290px;
	background-color: #000;
	border-radius: 50%;
	position: absolute;
	top: 365px;
	left: -118px;
}

.protector {
	height: 304px;
	width: 29px;
	border-radius: 5px;
	background-color: rgb(0, 0, 0);
	position: absolute;
	top: -8px;
	left: 131px;
	transform-origin: center;
}

.protector_small {
	height: 190px;
	width: 23px;
	top: -5px;
	left: 78px;
}

.protector:nth-child(2) {
	transform: rotate(20deg);
}

.protector:nth-child(3) {
	transform: rotate(40deg);
}

.protector:nth-child(4) {
	transform: rotate(60deg);
}

.protector:nth-child(5) {
	transform: rotate(80deg);
}

.protector:nth-child(6) {
	transform: rotate(-20deg);
}

.protector:nth-child(7) {
	transform: rotate(-40deg);
}

.protector:nth-child(8) {
	transform: rotate(-60deg);
}

.protector:nth-child(9) {
	transform: rotate(-80deg);
}

.wheel-car__small {
	display: block;
	width: 180px;
	height: 180px;
	background-color: #000;
	border-radius: 50%;
	position: absolute;
	top: 475px;
	right: 170px;
}

.wheel-car__big_grey {
	background-color: gray;
	width: 150px;
	height: 150px;
	border: 3px dotted #000;
	border-radius: 50%;
	position: absolute;
	top: 441px;
	left: -49px;
}

.wheel-car__small_grey {
	background-color: gray;
	width: 100px;
	height: 100px;
	border: 3px dotted #000;
	border-radius: 50%;
	position: absolute;
	top: 518px;
	right: 210px;
}

.wheel-car__big_rear {
	top: 345px;
	left: 87px;
	z-index: -10;
}

.wheel-car__small_rear {
	top: 451px;
	right: 76px;
	z-index: -10;
}

.wheel-car__small-grey {
	width: 80px;
	height: 80px;
	background-color: gray;
	border: 3px dotted #000;
	border-radius: 50%;
	position: absolute;
	top: 505px;
	right: 120px;
	z-index: -5;
}

.right-car__rectangle {
	display: block;
	width: 188px;
	height: 56px;
	background-color: #0f2855;
	border: 1px solid #000;
	border-radius: 20px 20px 20px 20px;
	position: relative;
	top: 14px;
	right: -29px;
	transform: rotateY(-2deg);
}

.right-car__pipe {
	transform: rotate3d(0, 0, 1, -8deg);
}

.pipe-block__bottom {
	display: block;
	width: 20px;
	height: 38px;
	background-color: saddlebrown;
	border: 1px solid #000;
	border-radius: 5px 5px 7px 7px;
	position: relative;
	top: -52px;
	right: -191px;

}

.pipe-block__center {
	display: block;
	width: 30px;
	height: 150px;
	background-color: saddlebrown;
	border: 1px solid #000;
	border-radius: 5px;
	position: relative;
	top: -238px;
	right: -186px;
}

.pipe-block__top {
	display: block;
	width: 20px;
	height: 50px;
	background-color: saddlebrown;
	border: 1px solid #000;
	border-radius: 0px 16px 5px 5px;
	position: relative;
	top: -434px;
	right: -191px;
}

.pipe-block__left {
	display: block;
	width: 20px;
	height: 22px;
	background-color: saddlebrown;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	border-radius: 10px 0px 0px 10px;
	box-shadow: -3px 0px 5px rgb(116, 113, 113);
	position: relative;
	top: -484px;
	right: -174px;
}

.car__lights {
	position: relative;
}

.lights-block__left {
	display: block;
	width: 70px;
	height: 70px;
	background-color: #0f2855;
	border-radius: 50%;
	border: 1px solid #000;
	position: absolute;
	top: -268px;
	right: 184px;
}

.lights-block__right {
	display: block;
	width: 70px;
	height: 70px;
	background-color: #0f2855;
	border-radius: 50%;
	border: 1px solid #000;
	position: absolute;
	top: -268px;
	right: 50px;
	z-index: -10;
}

.lights-block__left_white {
	width: 55px;
	height: 74px;
	background-color: #fff;
	border: 4px solid #4278db;
	top: -270px;
	right: 184px;
	z-index: 10;
}

.lights-block__right_white {
	width: 55px;
	height: 74px;
	background-color: #fff;
	border: 4px solid #4278db;
	top: -270px;
	right: 50px;
	z-index: 10;
}

.lights-block__left_black {
	width: 20px;
	height: 30px;
	background-color: #000;
	top: -250px;
	right: 216px;
	z-index: 10;
}

.lights-block__right_black {
	width: 20px;
	height: 30px;
	background-color: #000;
	top: -250px;
	right: 82px;
	z-index: 10;
}

.lights-block__left_small-white {
	width: 10px;
	height: 11px;
	background-color: #fff;
	top: -246px;
	right: 226px;
	z-index: 20;
}

.lights-block__right_small-white {
	width: 10px;
	height: 11px;
	background-color: #fff;
	top: -246px;
	right: 91px;
	z-index: 20;
}

.car__stripes {
	position: relative;
}

.stripes-car {}

.stripes-car__body {
	display: block;
	background-color: #0f2855;
	position: absolute;
	z-index: 10;
	border-radius: 10px;
}

.stripes-car__body_one {
	width: 40px;
	height: 5px;
	top: -273px;
	right: 151px;
}

.stripes-car__body_two {
	width: 48px;
	height: 5px;
	top: -257px;
	right: 134px;
}

.stripes-car__body_three {
	width: 58px;
	height: 5px;
	top: -242px;
	right: 121px;
}

.stripes-car__body_four {
	width: 63px;
	height: 5px;
	top: -227px;
	right: 115px;
}

.stripes-car__body_five {
	width: 65px;
	height: 5px;
	top: -212px;
	right: 113px;
}

.stripes-car__body_six {
	width: 59px;
	height: 5px;
	top: -197px;
	right: 115px;
}

.stripes-car__body_seven {
	width: 49px;
	height: 5px;
	top: -182px;
	right: 121px;
}

.stripes-car__body_smile {
	width: 84px;
	height: 50px;
	top: -175px;
	right: 115px;
	background-color: transparent;
	border-bottom: 5px solid #0f2855;
	border-radius: 51px;
}

.circles-block__big {
	display: block;
	width: 28px;
	height: 28px;
	background-color: #807575;
	border: 1px solid #000;
	border-radius: 50%;
	position: absolute;
	top: 505px;
	left: 13px;
	box-shadow: inset 3px 0px 4px 0px;
	transform: rotate(-38deg);
}

.small-circles__body {
	display: block;
	width: 16px;
	height: 16px;
	background-color: #807575;
	border: 1px solid #000;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: inset 2px 0px 3px 0px;
	transform: rotate(-38deg);
}

.small-circles__body_one {
	top: 464px;
}

.small-circles__body_two {
	top: 557px;
	left: 41px;
}

.small-circles__body_three {
	top: 516px;
	left: 68px;
}

.small-circles__body_four {
	top: 553px;
	left: -9px;
}

.small-circles__body_five {
	top: 505px;
	left: -31px;
}

.small-circles__body_six {
	top: 468px;
	left: 51px;
}

.circles-block-2__big {
	display: block;
	width: 17px;
	height: 17px;
	background-color: #807575;
	border: 1px solid #000;
	border-radius: 50%;
	position: absolute;
	top: 560px;
	right: 251px;
	z-index: 30;
	box-shadow: inset 2px 0px 3px 0px;
	transform: rotate(-38deg);
}

.small-circles-2__body {
	display: block;
	width: 9px;
	height: 9px;
	background-color: #807575;
	border: 1px solid #000;
	border-radius: 50%;
	position: absolute;
	top: 0;
	right: 0;
	box-shadow: inset 1px 0px 2px 0px;
	transform: rotate(-38deg);
}

.small-circles-2__body_one {
	top: 530px;
	right: 258px;
}

.small-circles-2__body_two {
	top: 596px;
	right: 258px;
}

.small-circles-2__body_three {
	top: 550px;
	right: 226px;
}

.small-circles-2__body_four {
	top: 582px;
	right: 228px;
}

.small-circles-2__body_five {
	top: 550px;
	right: 284px;
}

.small-circles-2__body_six {
	top: 581px;
	right: 282px;
}

.car__bg {
	display: block;
	width: 84px;
	height: 130px;
	background-color: #4278db;
	border-radius: 24% 78% 47% 10%;
	position: absolute;
	transform: translate(610px, -302px);
	transform: translate(610px, -287px) skew(14deg, 0deg);
}

.item-car__title {
	font-family: Pacifico;
	font-size: 40px;
	position: absolute;
	color:forestgreen;
	opacity: 0;
}

.item-car__title_1 {
	transform: translate(16px, -577px);
}

.item-car__title_2 {
	transform: translate(216px, -577px);
}

.item-car__title_3 {
	transform: translate(406px, -577px);
	color: #0f2855;
}

.item-car__title_4 {
	transform: translate(696px, -577px);
}

.background-top {
	position: relative;
}

.background-top__img {
	width: 300px;
	position: absolute;
	top: 5px;
	left: 20px;
	animation-name: cloud;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes cloud {
	0% {
		transform: translate(0px, 0px);
	}

	100% {
		transform: translate(150px, 0px);
	}
}

.background-top__img-2 {
	width: 300px;
	position: absolute;
	top: 50px;
	right: 310px;
	animation-name: cloud;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.wheel-car__big {
	animation: wheel-anim 5s linear 2.6;
}

@keyframes wheel-anim {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.wheel-car__small {
	animation: wheel-anim-2 5s linear 2.5;
}

@keyframes wheel-anim-2 {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.lights-block__left,
.lights-block__right {
	animation: lights-block-anim 3s linear 2;
}

@keyframes lights-block-anim {
	0% {
		transform: scaleY(0.8);
	}

	50% {
		transform: scaleY(1.5);
	}

	100% {
		transform: scaleY(0.8);
	}
}

.stripes-car__body_smile {
	animation: stripes-car-anim 3s linear 2;
}

@keyframes stripes-car-anim {
	0% {
		transform: scaleY(0.8);
	}

	50% {
		transform: scaleY(1.5);
		border-bottom: 10px solid #0f2855;
	}

	100% {
		transform: scaleY(0.8);
	}
}

.pipe-block__left {
	animation-name: pipe-anim;
	animation-duration: 0.5s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
}

@keyframes pipe-anim {
	0% {
		box-shadow: 0px 0px 20px rgb(90, 87, 87);
	}

	100% {
		box-shadow: -50px 0px 20px rgb(90, 87, 87);
	}
}

.item-car__title_1 {
	animation-duration: 8s;
   animation-delay: 3s;
   animation-name: name;
}
.item-car__title_2 {
	animation-duration: 8s;
   animation-delay: 4s;
   animation-name: name;
}
.item-car__title_3 {
	animation-duration: 8s;
   animation-delay: 5s;
   animation-name: name;
}
.item-car__title_4 {
	animation-duration: 8s;
   animation-delay: 6s;
   animation-name: name;
}
@keyframes name {
   0%{
      opacity: 0;
   }
   50%{
      opacity: 1;
   }
   100%{
      opacity: 0;
   }
}